.product-table-container{
    width: 95%;
    margin: 0 auto;
    height: 285px;
    border: 1px solid green;
    margin-top: 10px;

}

.titulo {
    text-align: left !important;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    display: inline-block;
}

.titulo2{
    margin-left: 20px;
}